body{
    margin: 0;
    font-family: poppins, sans-serif;
}
header{
    background-color: #212428;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 50px;
    margin: 15px;
}
header h1{
    font-weight: 400;
    letter-spacing: 2px;
}
.journal-entry{
  display: flex;
  margin: 50px;

}
.main-img-container{
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
}
.main-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.location{
  margin-right: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
}
.marker-img{
  height: 15px;
  margin-right: 10px;
}
.place-name{
  text-transform: uppercase;
  font-weight: 1000;
  margin: 10px 0;
}
.dates{
  font-weight: 700;
  margin: 10px 0;
}
.des{
  font-size: 13px;
  font-weight: 500;
}